
.container {
    max-width: 1200px;
    margin: 30px auto;
    padding: 30px;
}

.slider {
    width: 640px;
    height: 400px;
    margin: 30px auto;
    overflow: hidden;
}

.slider-line {
    height: 400px;
    width: 1024px;
    display: flex;
    position: relative;
    left: 0;
    transition: all ease 1s;
}

.slider-line img {
    width:100%;
}

.btn {
    margin: 30px auto;
    display: flex;
    justify-content: center;

}

.button {
    background-color: #8099ff;
    border: none;
    border-radius: 12px;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

}

.button:hover {
    background-color: #147dff;
    transition: 0.7s;
}
.slider-prev {
    margin-right: 10px;
}
